.card {
    border: solid thin black;
    border-radius: 1rem;
    width: 24rem;
    height: 8rem;
    padding: 1rem;
}

.container {
    width: 100%;
    align-items: center;
}

header {
    background: #111;
    color: #fff;
}

ul {
    list-style: none;
    a {
        border: solid thin black;
        border-radius: 0.25rem;
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        border-color: #333;
        background: #333;
    }
}